@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Recursive:wght@700&family=Varela+Round&display=swap');
/*

font-family: 'Chakra Petch', sans-serif;   for pixelated one
font-family: 'Varela Round', sans-serif;   for round one
font-family: 'Recursive', sans-serif;      for text


body{
    height: 100vh;
}


*/
body{
    background-image: url('bgA.jpg');
    background-repeat: no-repeat;
    
    overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
}

.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    font-family: 'Varela Round', sans-serif;
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3, 10vw);
    margin-top: 20vh;
    margin-left: 5vw;
    margin-right: 75px;
}

.box{
    border: 5px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box:hover{
    background-color: rgb(154, 200, 158);
   
}

.gameInfo{
    display: flex;
    flex-direction: column;
    margin-top: 13vh;
    padding: 0 34px;
    font-family: 'Recursive', sans-serif;
    justify-content: center;
    align-items: center;
}
.info{
    padding: 20px;
    font-size: 60px;
    color: rgb(196, 218, 198);
    text-shadow: -3px 3px 0 #000,
                          3px 3px 0 #000,
                         3px -3px 0 #000,
                        -3px -3px 0 #000;
}
.boxtext{
    
    font-weight: bold;
}

h3{
    color: rgb(223, 248, 226);
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}
.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}
.bl-0 {
    border-left: 0;
}
.bt-0 {
    border-top: 0;
}
.bb-0 {
    border-bottom: 0;
}

#reset{
    
    font-family: 'Varela Round', sans-serif;
    margin: 0 23px;
    font-size: 30px;
    width: 150px;
    height: 50px;
    background:rgb(180, 187, 202);
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    
    margin-top: 20px;
}


@media screen and (max-width: 1200px) 
{
    .container{
        margin-top: 25vh ;
    }

    .gameInfo{
        margin-top: 25vh;
    }
    .info{
        font-size: 40px;
        margin-top: 20px;
    }

}

@media screen and (max-width: 800px) 
{
    .gameContainer{
        
        flex-direction: column;
    }
    .gameInfo{
        margin-top: 30px;
    }
    .container{
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 30px;
        grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3, 100px);
    }
    .info{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    .boxtext{
        font-size: 60px;
        font-weight: bold;
    }
}