@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Recursive:wght@700&family=Varela+Round&display=swap');
/*

font-family: 'Chakra Petch', sans-serif;   for pixelated one
font-family: 'Varela Round', sans-serif;   for round one
font-family: 'Recursive', sans-serif;      for text

body{
    background-image: url('bg2.png');
}



*/


*{
    margin: 0;
    padding: 0;
}

.gameContainer{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    font-family: 'Varela Round', sans-serif;
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3, 10vw);
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box:hover{
    background-color: aquamarine;
   
}

.gameInfo{
    padding: 0 34px;
    font-family: 'Recursive', sans-serif;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}
.bl-0 {
    border-left: 0;
}
.bt-0 {
    border-top: 0;
}
.bb-0 {
    border-bottom: 0;
}

#reset{
    font-family: 'Varela Round', sans-serif;
    margin: 0 23px;
    padding: 6px 14px;
    background:rgb(180, 187, 202);
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}